<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <form (ngSubmit)="login()" class="login-form">
    <ion-item class="login-input">
      <ion-label position="floating">Username</ion-label>
      <ion-input [formControl]="loginForm.get('username')"></ion-input>
    </ion-item>

    <ion-item class="login-input">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [formControl]="loginForm.get('password')"></ion-input>
    </ion-item>

    <ion-button class="login-button" color="success" (click)="login()">Login</ion-button>
  </form>
</div>
