.container {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 600px;
  min-width: 300px;
  transform: translate(-50%, -50%);
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .register-input {
    width: 100%;
  }

  .register-button {
    align-items: center;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .register-link {
    // color: blue;
  }
}
