<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <form (ngSubmit)="register()" class="register-form">
    <ion-item class="register-input">
      <ion-label position="floating">Username</ion-label>
      <ion-input [formControl]="registerForm.get('username')"></ion-input>
    </ion-item>

    <ion-item class="register-input">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [formControl]="registerForm.get('password')"></ion-input>
    </ion-item>

    <ion-item class="register-input">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [formControl]="registerForm.get('email')"></ion-input>
    </ion-item>

    <ion-item class="register-input">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" [formControl]="registerForm.get('firstName')"></ion-input>
    </ion-item>

    <ion-item class="register-input">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" [formControl]="registerForm.get('lastName')"></ion-input>
    </ion-item>

    <ion-button class="register-button" color="success" (click)="register()">Register</ion-button>
    <a class="register-link" (click)="goToLogin()">Or login?</a>
  </form>
</div>
