<div class="container">
  <form (ngSubmit)="createTask()" class="create-project-form">
    <ion-item class="title-input">
      <ion-label position="floating">Title</ion-label>
      <ion-input [formControl]="createTaskForm.get('title')"></ion-input>
    </ion-item>

    <div class="buttons">
      <ion-button class="button create-button" expand="full" color="success" (click)="createTask()">Create</ion-button>
      <ion-button class="button cancel-button" expand="full" color="danger" (click)="cancel()">Cancel</ion-button>
    </div>
  </form>
</div>
