<ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="log-out-outline" slot="icon-only" (click)="logout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="tasks?.length">
      <ion-item *ngFor="let task of tasks">
        {{ task.title }}
        <ion-button fill="outline" color="success" slot="end" (click)="deleteTask(task.id)">Done</ion-button>
        <ion-button fill="outline" color="danger" slot="end" (click)="deleteTask(task.id)">Delete</ion-button>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-button class="add-task" fill="outline" (click)="createTask()">Add project</ion-button>
</ion-content>
