.container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;

  .button {
    flex: 1 1 0;
  }
}
